.login-wrapper {
  .close {
    top: 5px;
    right: 5px;
  }
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.8rem;
  width: fit-content;
  right: 40px;
  overflow: hidden;
  max-width: 270px;
  border-width: 2px;
  border-radius: 15px;
  border-color: var(--stroke);
  background: var(--bg);
  color: var(--content-text);
  .input-wrapper {
    padding: 5px;
  }
}
