* {
  font-family:
    LTInstitute,
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}

.option-content {
  width: 100%;
  height: 100%;
  padding-left: 13rem;
}
